body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  align-items: flex-start;
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.card {
  margin: 15px;
  width: 35%;
  height: 60%;
  box-shadow: 0 4px 10px 0 rgba(196, 196, 196, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 20px 20px 0 rgba(15, 11, 33, 0.6);
}

.media {
  object-fit: fill;
}
